<div class="row content">
    <div class="col-sm-2 sidenav">
        <a asp-area="" asp-controller="Game" asp-action="Index">Δοκίμασε τυχαία νούμερα για να δεις πόσο τυχερός είσαι (5+Joker)</a>
        <a asp-area="" asp-controller="Game" asp-action="About">Δοκίμασε τυχαία νούμερα για να δεις πόσο τυχερός είσαι (5 without Joker)</a>
        <a asp-area="" asp-controller="Game" asp-action="Index">Δοκίμασε τυχαία νούμερα για να δεις πόσο τυχερός είσαι (4+Joker)</a>
        <a asp-area="" asp-controller="Game" asp-action="About">Δοκίμασε τυχαία νούμερα για να δεις πόσο τυχερός είσαι (4 without Joker)</a>
        <a asp-area="" asp-controller="Game" asp-action="Contact">Δοκίμασε τυχαία νούμερα για να δεις πόσο τυχερός είσαι (3 without Joker)</a>
    </div>

    <div class="col-sm-10">
        <h2>Sidebar Dropdown</h2>
        <p>Click on the dropdown button to open the dropdown menu inside the side navigation.</p>
        <p>This sidebar is of full height (100%) and always shown.</p>
        <p>Some random text..</p>
    </div>

</div>

