<div class="col-sm-2 sidenav">
    <a asp-area="" asp-controller="MainMenu" asp-action="Index">Όλες οι κληρώσεις</a>
    <button class="dropdown-btn">Στατιστικά Των Πέντε Αριθμών<i class="fa fa-caret-down"></i></button>
    <div class="dropdown-container">
        <a asp-area="" asp-controller="MainMenu" asp-action="DisplayFrequency">Συχνότητα εμφάνισης</a>
        <a asp-area="" asp-controller="MainMenu" asp-action="DelayFrequency">Καθυστέρηση Αριθμών</a>
        <a asp-area="" asp-controller="MainMenu" asp-action="SumOfFiveNums">Άθροισμα των πέντε</a>
        <a asp-area="" asp-controller="MainMenu" asp-action="CombinationOfThree">Συνδυασμός των Τριών</a>
        <a asp-area="" asp-controller="MainMenu" asp-action="CombinationOfFour">Συνδυασμός των Τεσσάρων</a>
        <a asp-area="" asp-controller="MainMenu" asp-action="CombinationOfFive">Συνδυασμός των Πέντε</a>
        <a asp-area="" asp-controller="MainMenu" asp-action="ThreeInARow">Τρεις στην σειρά</a>
        <a asp-area="" asp-controller="MainMenu" asp-action="Index">'Iδια δεκάδα</a>
        <a asp-area="" asp-controller="MainMenu" asp-action="DrawRepeat">Επανάληψη Κλήρωσης</a>
    </div>  
    <button class="dropdown-btn">Στατιστικά Αριθμού Joker<i class="fa fa-caret-down"></i></button>
    <div class="dropdown-container">
        <a asp-area="" asp-controller="MainMenu" asp-action="JokerDisplayFrequency">Εμφάνιση</a>
        <a asp-area="" asp-controller="MainMenu" asp-action="JokerDelay">Καθυστέρηση</a>
    </div>   
    <a asp-area="" asp-controller="MainMenu" asp-action="HotNumbers">HOT νούμερα</a>
</div>