<div class="col-sm-2 sidenav">
    <a asp-area="" asp-controller="MainMenu" asp-action="Index">Όλες οι κληρώσεις</a>
    <a asp-area="" asp-controller="MainMenu" asp-action="DisplayFrequency">Συχνότητα εμφάνισης</a>
    <a asp-area="" asp-controller="MainMenu" asp-action="Index">Συχνότητα καθυστέρησης</a>
    <a asp-area="" asp-controller="MainMenu" asp-action="About">Άθροισμα των πέντε αριθμών της κλήρωσης και συχνότητα εμφάνισης του αθροίσματος</a>
    <a asp-area="" asp-controller="MainMenu" asp-action="Contact">Δύο αριθμοί που συνδυάστηκαν σε μεγάλο ποσοστό κληρώσεων</a>
    <a asp-area="" asp-controller="MainMenu" asp-action="Index">Τρεις αριθμοί που συνδυάστηκαν σε μεγάλο ποσοστό κληρώσεων</a>
    <a asp-area="" asp-controller="MainMenu" asp-action="About">Τέσσερις αριθμοί που συνδυάστηκαν σε μεγάλο ποσοστό κληρώσεων</a>
    <a asp-area="" asp-controller="MainMenu" asp-action="Contact">Συνεχόμενη τριάδα αριθμών (πχ 23,24,25)</a>
    <a asp-area="" asp-controller="MainMenu" asp-action="Index">Τριάδα αριθμών στην ίδια δεκάδα (πχ 10,14,19)</a>
    <a asp-area="" asp-controller="MainMenu" asp-action="About">Πιθανότητα να εμφανιστεί ένας αριθμός της τελευταίας κλήρωσης στην επόμενη</a>
    <a asp-area="" asp-controller="MainMenu" asp-action="Contact">Συχνότητα εμφάνισης και καθυστέρησης του αριθμού Joker</a>
    <a asp-area="" asp-controller="MainMenu" asp-action="Index">Στατιστικά δέκα τελευταίων κληρώσεων</a>
    <a asp-area="" asp-controller="MainMenu" asp-action="About">HOT νούμερα για την επόμενη κλήρωση με βάση στατιστικά</a>
    <a asp-area="" asp-controller="MainMenu" asp-action="Contact">HOT νούμερα για την επόμενη κλήρωση με το σκεπτικό αδύνατον να βγουν</a>
</div>